html, body
{
  height: fit-content;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif , monospace !important;  
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* to hide extra right space in iPhone 5/SE */

  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

*
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}


/* HEADER STYLE BEGIN */
header{
    display: inline-block;
    width: 100%;
    padding: 0px 80px;
    background-color: #092c5c;
    position: relative;
}
.logo{
    float: left;
}
.header-logo{
    width: 190px;
    margin: 20px 0px;
}
nav{
    float: right;
}
nav ul li{
    display: inline-block;
    padding: 15px 25px;
}
nav ul li a{
    text-decoration: none;
    display: inline-block;
    color: whitesmoke;
    font-weight: 100;
    text-transform: uppercase;
}
nav ul li a:hover{
    color: #fff952 ;
}
.toggle-btn{
    display: none;
    position: absolute;
    width: 35px;
    right: 26px;
    top: 27px;
}
.toggle-btn span{
    display: inline-block;
    float: left;
    width: 100%;
    height: 3px;
    background-color: #fff952;
    margin-bottom: 8px;
    border-radius: 8px;
}

@media (max-width: 991px) {
    .toggle-btn{
        display: block;
    }
    nav{
        display: none;
        width: 100%;
        border-top: 1px solid #fff952 ;
        padding-top: 20px;
        margin-top: 20px;
        text-align: center;
    }
    nav ul{
        padding: 0;
    }
    nav ul li {
        padding: 15px;
        width: 100%;
    }
    nav.show{
        display: block;
    }
}
/* HEADER STYLE END */


/* FOOTER BEGIN */
footer{
    display: flex;
    flex-direction: column;
    font-weight: 100;
}
.footer-top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #092c5c;
    color: whitesmoke;
    width: 100%;
}
.footer-top-items{
    min-width: 300px;
    width: 25%;
    padding: 20px 50px 50px;
}
.footer-bottom{
    background-color: #fbf775 ;
    color: #092c5c;
    text-align: center;
    padding: 10px;
}
.footer-top-items ul {
    padding: 0px;
    list-style: none;
}
.footer-top-items ul li {
    margin-bottom: 16px;
}
.footer-top-items ul li a{
    text-decoration: none;
    color: whitesmoke;
}
.icon{
    color: #fff952;
    background-color: none;
}
.social-icon{
    color: #fff952;
    background-color: none;
    text-decoration: none;
    font-size: 30px;
    padding-right:30px ;
}
/* FOOTER END */




.about-header{
    background-color: #faf67b;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #244E86;
    margin-top: 150px;
}
.about-under-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #244E86;
    width: 100%;
    padding: 50px;
}
.about-text{
    display: flex;
    width: 40%;
    color:whitesmoke;
    font-weight: 100;
    text-align: left;
    font-size: 18px;
    min-width: 300px;
}
.about-image{
    display: flex;
    width: 30%;
    min-width: 300px;
    justify-content: center;
    padding: 50px;
    margin: 0 50px;
    
}
.about-contact{
    background-color: #faf67b;
    padding: 10px;
    text-align: center;
    color: #244E86;
    margin-bottom: 150px;
}
.about-contact a{
    text-decoration: none;
    text-transform: uppercase;
    color:  #244E86;
   border: 1px solid #244E86;
    padding: 8px 14px;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.about-contact a:hover{
    text-decoration: none;
    text-transform: uppercase;
    color: #faf67b;
    background-color: #244E86;
    padding: 8px 14px;
    border-radius: 8px;
}